.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.ff2{font-family:sans-serif;visibility:hidden;}
.ff3{font-family:sans-serif;visibility:hidden;}
.ff4{font-family:sans-serif;visibility:hidden;}
.ff5{font-family:sans-serif;visibility:hidden;}
.ff6{font-family:sans-serif;visibility:hidden;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m1{transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-ms-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-webkit-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-3.702796px;}
._7{margin-left:-2.250082px;}
._1{margin-left:-1.180630px;}
._2{width:1.210883px;}
._0{width:2.460182px;}
._a{width:3.818672px;}
._b{width:5.202344px;}
._5{width:6.414575px;}
._6{width:7.751294px;}
._8{width:12.355391px;}
._9{width:13.776645px;}
._3{width:16.672569px;}
.fc4{color:transparent;}
.fc2{color:rgb(46,64,111);}
.fc5{color:rgb(255,255,255);}
.fc3{color:rgb(136,136,136);}
.fc1{color:rgb(51,51,51);}
.fc0{color:rgb(85,85,85);}
.fs0{font-size:40.098629px;}
.fs4{font-size:44.090484px;}
.fs3{font-size:48.112355px;}
.fs2{font-size:56.126080px;}
.fs1{font-size:64.139803px;}
.y0{bottom:0.000000px;}
.y1{bottom:42.083003px;}
.y27{bottom:61.903752px;}
.y26{bottom:84.414211px;}
.y25{bottom:106.924669px;}
.y24{bottom:129.435128px;}
.y23{bottom:166.577384px;}
.y4d{bottom:183.460265px;}
.y22{bottom:200.343072px;}
.y4c{bottom:205.970724px;}
.y4b{bottom:228.481182px;}
.y21{bottom:247.615035px;}
.y4a{bottom:250.991641px;}
.y20{bottom:270.125493px;}
.y49{bottom:273.502099px;}
.y1f{bottom:292.635952px;}
.y48{bottom:296.012558px;}
.y47{bottom:318.523016px;}
.y1e{bottom:330.903731px;}
.y46{bottom:341.033475px;}
.y45{bottom:363.543933px;}
.y1d{bottom:364.669419px;}
.y44{bottom:386.054392px;}
.y43{bottom:408.564850px;}
.y1c{bottom:411.941382px;}
.y42{bottom:431.075309px;}
.y1b{bottom:434.451840px;}
.y41{bottom:453.585767px;}
.y1a{bottom:456.962299px;}
.y40{bottom:476.096226px;}
.y19{bottom:479.472757px;}
.y3f{bottom:498.606684px;}
.y18{bottom:501.983216px;}
.y3e{bottom:521.117143px;}
.y17{bottom:524.493674px;}
.y3d{bottom:543.627601px;}
.y16{bottom:561.635931px;}
.y3c{bottom:566.138060px;}
.y15{bottom:594.276096px;}
.y3b{bottom:613.410023px;}
.y14{bottom:661.807471px;}
.y13{bottom:684.317930px;}
.y12{bottom:706.828388px;}
.y38{bottom:710.204994px;}
.y3a{bottom:723.711269px;}
.y37{bottom:743.970682px;}
.y11{bottom:745.096168px;}
.y39{bottom:746.221728px;}
.y36{bottom:751.849343px;}
.y10{bottom:778.861855px;}
.y35{bottom:791.242645px;}
.y34{bottom:814.878626px;}
.yf{bottom:829.510387px;}
.y33{bottom:837.389085px;}
.y30{bottom:846.393268px;}
.y32{bottom:859.899543px;}
.y2f{bottom:880.158956px;}
.y31{bottom:882.410002px;}
.y2e{bottom:886.912094px;}
.y5{bottom:904.920423px;}
.y4{bottom:909.422515px;}
.ye{bottom:935.309542px;}
.yd{bottom:937.560588px;}
.y2c{bottom:942.062717px;}
.y3{bottom:944.313725px;}
.y2d{bottom:944.313763px;}
.y2{bottom:948.815817px;}
.yc{bottom:969.075230px;}
.yb{bottom:991.585688px;}
.ya{bottom:1014.096147px;}
.y2b{bottom:1016.347230px;}
.y9{bottom:1036.606605px;}
.y2a{bottom:1048.987395px;}
.y8{bottom:1060.242587px;}
.y29{bottom:1081.627560px;}
.y7{bottom:1082.753045px;}
.y6{bottom:1128.899485px;}
.y28{bottom:1132.276091px;}
.h3{height:26.725893px;}
.h9{height:37.408251px;}
.h4{height:38.093698px;}
.h8{height:41.885959px;}
.h7{height:45.706738px;}
.h6{height:53.319776px;}
.h5{height:60.932813px;}
.h2{height:1177.296971px;}
.h0{height:1262.879970px;}
.h1{height:1263.000000px;}
.w2{width:806.999906px;}
.w0{width:892.439940px;}
.w1{width:892.500000px;}
.x0{left:0.000000px;}
.x7{left:16.918016px;}
.x2{left:18.412852px;}
.xf{left:39.463648px;}
.x1{left:43.499996px;}
.x3{left:47.342308px;}
.x8{left:82.849039px;}
.xa{left:100.857406px;}
.xd{left:148.445922px;}
.x4{left:214.711090px;}
.x5{left:216.205919px;}
.xb{left:224.664933px;}
.xc{left:230.292548px;}
.x9{left:233.669117px;}
.x6{left:249.584709px;}
.x10{left:280.642107px;}
.x11{left:303.187738px;}
.xe{left:346.573135px;}
.x12{left:544.366197px;}
.x13{left:566.911828px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-3.291374pt;}
._7{margin-left:-2.000073pt;}
._1{margin-left:-1.049449pt;}
._2{width:1.076341pt;}
._0{width:2.186829pt;}
._a{width:3.394375pt;}
._b{width:4.624306pt;}
._5{width:5.701844pt;}
._6{width:6.890039pt;}
._8{width:10.982569pt;}
._9{width:12.245906pt;}
._3{width:14.820062pt;}
.fs0{font-size:35.643226pt;}
.fs4{font-size:39.191541pt;}
.fs3{font-size:42.766538pt;}
.fs2{font-size:49.889848pt;}
.fs1{font-size:57.013158pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:37.407114pt;}
.y27{bottom:55.025557pt;}
.y26{bottom:75.034854pt;}
.y25{bottom:95.044150pt;}
.y24{bottom:115.053447pt;}
.y23{bottom:148.068786pt;}
.y4d{bottom:163.075792pt;}
.y22{bottom:178.082731pt;}
.y4c{bottom:183.085088pt;}
.y4b{bottom:203.094384pt;}
.y21{bottom:220.102253pt;}
.y4a{bottom:223.103681pt;}
.y20{bottom:240.111550pt;}
.y49{bottom:243.112977pt;}
.y1f{bottom:260.120846pt;}
.y48{bottom:263.122274pt;}
.y47{bottom:283.131570pt;}
.y1e{bottom:294.136650pt;}
.y46{bottom:303.140867pt;}
.y45{bottom:323.150163pt;}
.y1d{bottom:324.150595pt;}
.y44{bottom:343.159460pt;}
.y43{bottom:363.168756pt;}
.y1c{bottom:366.170117pt;}
.y42{bottom:383.178052pt;}
.y1b{bottom:386.179414pt;}
.y41{bottom:403.187349pt;}
.y1a{bottom:406.188710pt;}
.y40{bottom:423.196645pt;}
.y19{bottom:426.198007pt;}
.y3f{bottom:443.205942pt;}
.y18{bottom:446.207303pt;}
.y3e{bottom:463.215238pt;}
.y17{bottom:466.216599pt;}
.y3d{bottom:483.224535pt;}
.y16{bottom:499.231939pt;}
.y3c{bottom:503.233831pt;}
.y15{bottom:528.245418pt;}
.y3b{bottom:545.253354pt;}
.y14{bottom:588.273308pt;}
.y13{bottom:608.282604pt;}
.y12{bottom:628.291901pt;}
.y38{bottom:631.293328pt;}
.y3a{bottom:643.298906pt;}
.y37{bottom:661.307273pt;}
.y11{bottom:662.307705pt;}
.y39{bottom:663.308203pt;}
.y36{bottom:668.310527pt;}
.y10{bottom:692.321649pt;}
.y35{bottom:703.326796pt;}
.y34{bottom:724.336557pt;}
.yf{bottom:737.342566pt;}
.y33{bottom:744.345853pt;}
.y30{bottom:752.349572pt;}
.y32{bottom:764.355150pt;}
.y2f{bottom:782.363517pt;}
.y31{bottom:784.364446pt;}
.y2e{bottom:788.366305pt;}
.y5{bottom:804.373709pt;}
.y4{bottom:808.375569pt;}
.ye{bottom:831.386260pt;}
.yd{bottom:833.387189pt;}
.y2c{bottom:837.389082pt;}
.y3{bottom:839.389978pt;}
.y2d{bottom:839.390011pt;}
.y2{bottom:843.391837pt;}
.yc{bottom:861.400204pt;}
.yb{bottom:881.409501pt;}
.ya{bottom:901.418797pt;}
.y2b{bottom:903.419760pt;}
.y9{bottom:921.428094pt;}
.y2a{bottom:932.433240pt;}
.y8{bottom:942.437855pt;}
.y29{bottom:961.446720pt;}
.y7{bottom:962.447151pt;}
.y6{bottom:1003.466209pt;}
.y28{bottom:1006.467637pt;}
.h3{height:23.756349pt;}
.h9{height:33.251779pt;}
.h4{height:33.861065pt;}
.h8{height:37.231964pt;}
.h7{height:40.628211pt;}
.h6{height:47.395356pt;}
.h5{height:54.162500pt;}
.h2{height:1046.486196pt;}
.h0{height:1122.559973pt;}
.h1{height:1122.666667pt;}
.w2{width:717.333250pt;}
.w0{width:793.279947pt;}
.w1{width:793.333333pt;}
.x0{left:0.000000pt;}
.x7{left:15.038237pt;}
.x2{left:16.366979pt;}
.xf{left:35.078798pt;}
.x1{left:38.666663pt;}
.x3{left:42.082052pt;}
.x8{left:73.643590pt;}
.xa{left:89.651027pt;}
.xd{left:131.951931pt;}
.x4{left:190.854302pt;}
.x5{left:192.183039pt;}
.xb{left:199.702163pt;}
.xc{left:204.704487pt;}
.x9{left:207.705881pt;}
.x6{left:221.853074pt;}
.x10{left:249.459651pt;}
.x11{left:269.500212pt;}
.xe{left:308.065009pt;}
.x12{left:483.881064pt;}
.x13{left:503.921625pt;}
}
