.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.009277;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.333788,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.333788,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.333788,0.000000,0.000000,0.375000,0,0);}
.m3{transform:matrix(0.337500,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.337500,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.337500,0.000000,0.000000,0.375000,0,0);}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m2{transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-ms-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-webkit-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-1.224000px;}
.lsc{letter-spacing:-1.008000px;}
.ls6{letter-spacing:-0.448000px;}
.ls5{letter-spacing:-0.436000px;}
.lse{letter-spacing:-0.390000px;}
.ls11{letter-spacing:-0.300000px;}
.ls7{letter-spacing:-0.198000px;}
.ls8{letter-spacing:-0.150000px;}
.lsa{letter-spacing:-0.090000px;}
.ls9{letter-spacing:-0.078000px;}
.ls3{letter-spacing:-0.060000px;}
.lsd{letter-spacing:-0.054000px;}
.lsb{letter-spacing:-0.030000px;}
.ls10{letter-spacing:-0.020000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.042000px;}
.ls12{letter-spacing:0.066000px;}
.lsf{letter-spacing:0.083600px;}
.ls4{letter-spacing:0.090000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-6.289272px;}
._8{margin-left:-5.060993px;}
._1{margin-left:-3.926705px;}
._9{margin-left:-2.836048px;}
._0{margin-left:-1.833976px;}
._2{width:1.015903px;}
._7{width:2.378193px;}
._6{width:3.696000px;}
._5{width:7.266000px;}
._4{width:8.274000px;}
.fc2{color:rgb(46,64,111);}
.fc4{color:rgb(135,135,135);}
.fc3{color:rgb(84,84,84);}
.fc1{color:rgb(51,51,51);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:22.080000px;}
.fs0{font-size:40.080000px;}
.fs3{font-size:42.000000px;}
.fs8{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs6{font-size:52.080000px;}
.fs7{font-size:55.920000px;}
.fs4{font-size:60.000000px;}
.fs1{font-size:67.920000px;}
.y0{bottom:0.000000px;}
.y2d{bottom:17.970000px;}
.y2b{bottom:174.420000px;}
.y2a{bottom:196.650000px;}
.y29{bottom:218.970000px;}
.y28{bottom:241.230000px;}
.y27{bottom:278.400000px;}
.y26{bottom:312.240000px;}
.y25{bottom:334.560000px;}
.y24{bottom:359.220000px;}
.y23{bottom:381.540000px;}
.y22{bottom:403.770000px;}
.y21{bottom:422.850000px;}
.y20{bottom:442.020000px;}
.y1f{bottom:475.860000px;}
.y1e{bottom:498.270000px;}
.y1d{bottom:522.930000px;}
.y1c{bottom:545.160000px;}
.y1b{bottom:567.480000px;}
.y1a{bottom:589.710000px;}
.y19{bottom:612.030000px;}
.y18{bottom:634.260000px;}
.y17{bottom:656.610000px;}
.y16{bottom:693.780000px;}
.y15{bottom:728.700000px;}
.y2c{bottom:737.910000px;}
.y14{bottom:751.830000px;}
.y2e{bottom:755.880000px;}
.yb{bottom:779.370000px;}
.y3d{bottom:791.340000px;}
.ya{bottom:804.480000px;}
.y3c{bottom:817.890000px;}
.y9{bottom:830.400000px;}
.y3b{bottom:843.090000px;}
.y8{bottom:848.670000px;}
.y7{bottom:867.030000px;}
.y3a{bottom:872.610000px;}
.y6{bottom:885.300000px;}
.y39{bottom:891.060000px;}
.y5{bottom:903.750000px;}
.y38{bottom:916.620000px;}
.y37{bottom:938.850000px;}
.y4{bottom:943.260000px;}
.y36{bottom:958.380000px;}
.y3{bottom:967.650000px;}
.y35{bottom:987.360000px;}
.y2{bottom:1002.570000px;}
.y34{bottom:1012.920000px;}
.y13{bottom:1032.000000px;}
.y12{bottom:1047.660000px;}
.y1{bottom:1048.560000px;}
.y33{bottom:1060.260000px;}
.y11{bottom:1070.010000px;}
.y32{bottom:1091.070000px;}
.y10{bottom:1092.240000px;}
.yf{bottom:1114.470000px;}
.y31{bottom:1125.180000px;}
.ye{bottom:1136.790000px;}
.y30{bottom:1147.860000px;}
.yd{bottom:1159.020000px;}
.y2f{bottom:1175.850000px;}
.yc{bottom:1181.250000px;}
.h8{height:21.961406px;}
.h2{height:26.713477px;}
.he{height:29.198906px;}
.h4{height:34.968750px;}
.ha{height:37.941094px;}
.h6{height:39.864727px;}
.hc{height:40.738594px;}
.h5{height:41.774414px;}
.hd{height:43.684102px;}
.h7{height:43.710938px;}
.h9{height:47.742188px;}
.hb{height:48.420000px;}
.h3{height:49.480781px;}
.h0{height:1262.880000px;}
.h1{height:1263.000000px;}
.w3{width:183.420000px;}
.w2{width:190.170000px;}
.w0{width:892.980000px;}
.w1{width:893.250000px;}
.x0{left:0.000000px;}
.xf{left:48.870000px;}
.x4{left:52.470000px;}
.x2{left:60.390000px;}
.x3{left:85.140000px;}
.x13{left:100.890000px;}
.x7{left:126.300000px;}
.x8{left:151.500000px;}
.x9{left:155.640000px;}
.x12{left:167.460000px;}
.xa{left:184.260000px;}
.xb{left:189.030000px;}
.xc{left:193.350000px;}
.xd{left:197.580000px;}
.x1{left:210.180000px;}
.xe{left:240.600000px;}
.x11{left:260.730000px;}
.x10{left:310.080000px;}
.x6{left:316.380000px;}
.x5{left:324.300000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-1.088000pt;}
.lsc{letter-spacing:-0.896000pt;}
.ls6{letter-spacing:-0.398222pt;}
.ls5{letter-spacing:-0.387556pt;}
.lse{letter-spacing:-0.346667pt;}
.ls11{letter-spacing:-0.266667pt;}
.ls7{letter-spacing:-0.176000pt;}
.ls8{letter-spacing:-0.133333pt;}
.lsa{letter-spacing:-0.080000pt;}
.ls9{letter-spacing:-0.069333pt;}
.ls3{letter-spacing:-0.053333pt;}
.lsd{letter-spacing:-0.048000pt;}
.lsb{letter-spacing:-0.026667pt;}
.ls10{letter-spacing:-0.017778pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.037333pt;}
.ls12{letter-spacing:0.058667pt;}
.lsf{letter-spacing:0.074311pt;}
.ls4{letter-spacing:0.080000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-5.590464pt;}
._8{margin-left:-4.498661pt;}
._1{margin-left:-3.490404pt;}
._9{margin-left:-2.520932pt;}
._0{margin-left:-1.630201pt;}
._2{width:0.903025pt;}
._7{width:2.113950pt;}
._6{width:3.285333pt;}
._5{width:6.458667pt;}
._4{width:7.354667pt;}
.fs5{font-size:19.626667pt;}
.fs0{font-size:35.626667pt;}
.fs3{font-size:37.333333pt;}
.fs8{font-size:39.040000pt;}
.fs2{font-size:42.666667pt;}
.fs6{font-size:46.293333pt;}
.fs7{font-size:49.706667pt;}
.fs4{font-size:53.333333pt;}
.fs1{font-size:60.373333pt;}
.y0{bottom:0.000000pt;}
.y2d{bottom:15.973333pt;}
.y2b{bottom:155.040000pt;}
.y2a{bottom:174.800000pt;}
.y29{bottom:194.640000pt;}
.y28{bottom:214.426667pt;}
.y27{bottom:247.466667pt;}
.y26{bottom:277.546667pt;}
.y25{bottom:297.386667pt;}
.y24{bottom:319.306667pt;}
.y23{bottom:339.146667pt;}
.y22{bottom:358.906667pt;}
.y21{bottom:375.866667pt;}
.y20{bottom:392.906667pt;}
.y1f{bottom:422.986667pt;}
.y1e{bottom:442.906667pt;}
.y1d{bottom:464.826667pt;}
.y1c{bottom:484.586667pt;}
.y1b{bottom:504.426667pt;}
.y1a{bottom:524.186667pt;}
.y19{bottom:544.026667pt;}
.y18{bottom:563.786667pt;}
.y17{bottom:583.653333pt;}
.y16{bottom:616.693333pt;}
.y15{bottom:647.733333pt;}
.y2c{bottom:655.920000pt;}
.y14{bottom:668.293333pt;}
.y2e{bottom:671.893333pt;}
.yb{bottom:692.773333pt;}
.y3d{bottom:703.413333pt;}
.ya{bottom:715.093333pt;}
.y3c{bottom:727.013333pt;}
.y9{bottom:738.133333pt;}
.y3b{bottom:749.413333pt;}
.y8{bottom:754.373333pt;}
.y7{bottom:770.693333pt;}
.y3a{bottom:775.653333pt;}
.y6{bottom:786.933333pt;}
.y39{bottom:792.053333pt;}
.y5{bottom:803.333333pt;}
.y38{bottom:814.773333pt;}
.y37{bottom:834.533333pt;}
.y4{bottom:838.453333pt;}
.y36{bottom:851.893333pt;}
.y3{bottom:860.133333pt;}
.y35{bottom:877.653333pt;}
.y2{bottom:891.173333pt;}
.y34{bottom:900.373333pt;}
.y13{bottom:917.333333pt;}
.y12{bottom:931.253333pt;}
.y1{bottom:932.053333pt;}
.y33{bottom:942.453333pt;}
.y11{bottom:951.120000pt;}
.y32{bottom:969.840000pt;}
.y10{bottom:970.880000pt;}
.yf{bottom:990.640000pt;}
.y31{bottom:1000.160000pt;}
.ye{bottom:1010.480000pt;}
.y30{bottom:1020.320000pt;}
.yd{bottom:1030.240000pt;}
.y2f{bottom:1045.200000pt;}
.yc{bottom:1050.000000pt;}
.h8{height:19.521250pt;}
.h2{height:23.745312pt;}
.he{height:25.954583pt;}
.h4{height:31.083333pt;}
.ha{height:33.725417pt;}
.h6{height:35.435312pt;}
.hc{height:36.212083pt;}
.h5{height:37.132812pt;}
.hd{height:38.830312pt;}
.h7{height:38.854167pt;}
.h9{height:42.437500pt;}
.hb{height:43.040000pt;}
.h3{height:43.982917pt;}
.h0{height:1122.560000pt;}
.h1{height:1122.666667pt;}
.w3{width:163.040000pt;}
.w2{width:169.040000pt;}
.w0{width:793.760000pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.xf{left:43.440000pt;}
.x4{left:46.640000pt;}
.x2{left:53.680000pt;}
.x3{left:75.680000pt;}
.x13{left:89.680000pt;}
.x7{left:112.266667pt;}
.x8{left:134.666667pt;}
.x9{left:138.346667pt;}
.x12{left:148.853333pt;}
.xa{left:163.786667pt;}
.xb{left:168.026667pt;}
.xc{left:171.866667pt;}
.xd{left:175.626667pt;}
.x1{left:186.826667pt;}
.xe{left:213.866667pt;}
.x11{left:231.760000pt;}
.x10{left:275.626667pt;}
.x6{left:281.226667pt;}
.x5{left:288.266667pt;}
}
